@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Write your own custom base styles here */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  .font-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-br from-darker via-slate-300 to-midDark;
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300), linear-gradient(to right, #463f3a, #bcb8b1);
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
  }
  .animated-underline:hover,
  .animated-underline:focus {
    background-size: 0 2px, 100% 2px;
  }
}
